@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Truculenta:opsz,wght@12..72,100..900&display=swap");

/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
:root {
  --font: "Poppins", sans-serif;
  --clr-dark: #2c3333;
  --clr-light: #fff;
  --clr-primary: #192f57;
  --clr-secondary: #4668a5;
  --h1: clamp(3rem, 10vw, 5rem);
  --h2: clamp(2.8rem, 10vw, 4rem);
  --h3: clamp(2rem, 10vw, 2.5rem);
  --h4: clamp(1.5rem, 10vw, 2rem);
  --h5: clamp(1rem, 10vw, 1.8rem);
  --h6: clamp(0.5rem, 10vw, 0.8rem);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* ------CONTAINER---------------- */

.container {
  max-width: 120rem;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* --------------HEADER--------------- */
.header {
  background-color: var(--clr-light);
  padding: 3rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__nav {
  display: flex;
  gap: 3rem;
}

.header .header__nav li a {
  color: var(--clr-dark);
  font-weight: bold;
  font-size: 2rem;
}

.header .header__nav li a:hover {
  color: var(--clr-secondary);
}

/* Home BANNER */

.homeBanner {
  padding-top: 10rem;
  background: url(/img/INDEX-BANNER.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeBanner h1 {
  font-size: var(--h1);
  font-weight: bold;
  color: var(--clr-primary);
  max-width: 60rem;
}

/* PROPERTIES */

.homeProperties {
  padding: 7rem 0;
  background-color: var(--clr-secondary);
}

.homeProperties .homeProperties__title {
  text-align: center;
  color: var(--clr-light);
  margin-bottom: 3rem;
}

.homeProperties .homeProperties__title h2 {
  font-size: var(--h2);
  font-weight: bold;
}

.homeProperties .homeProperties__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

/* HOMEABOUT */

.homeAbout {
  padding: 7rem 0;
}

.homeAbout .homeAbout__wrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.homeAbout .homeAbout__text h2 {
  font-size: var(--h2);
  font-weight: bold;
}

.homeAbout .homeAbout__text p {
  margin: 2rem 0;
}

/* FOOTER */

.footer {
  padding: 3rem 0;
  background: var(--clr-primary);
  color: var(--clr-light);
}

/* -------------------ABOUT PAGE-------------- */

.aboutBanner {
  background: url(/img/about.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.aboutBanner h1 {
  font-size: var(--h1);
  font-weight: bold;
  max-width: 60rem;
  padding-top: 7rem;
}

.aboutBanner p {
  max-width: 60rem;
  margin: 5rem 0;
}

/* OFFER */
.offer {
  background: var(--clr-light);
  padding: 7rem 0;
}

.offer h2 {
  text-align: center;
  font-size: var(--h2);
}

.offer p {
  text-align: center;
}

.offer .offer__wrapper {
  margin: 5rem 0;
}

.offer .offer__item {
  background: #b8baba;
  color: var(--clr-dark);
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.offer .offer__info {
  margin-right: 3rem;
}

.offer .offer__info h3 {
  font-size: var(--h3);
  font-weight: bold;
}

.offer .offer__info p {
  margin-top: 3rem;
  text-align: justify;
}

/* CONTACT */

.contact {
  padding: 7rem 0;
}

.contact .contact__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  grid-gap: 3rem;
  padding: 4.4rem 0;
}

.contact .contact__detail h2 {
  font-size: var(--h2);
  font-weight: bold;
  margin: 3rem 0 1rem;
}

.contact .contact__detail p {
  max-width: 35rem;
}

.contact .contact__info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5rem;
  max-width: 43rem;
}

.contact .contact__info h4 {
  font-size: var(--h4);
  font-weight: bold;
}

.contact .contact__info i {
  padding: 1rem;
  border-radius: 3rem;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  font-size: 2.5rem;
}

.contact .contact__form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 0;
}

.contact .contact__form .contact__form--name {
  display: flex;
  gap: 3rem;
}

.contact .contact__form input,
.contact .contact__form textarea {
  width: 100%;
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
  border: 1px solid var(--clr-dark);
}

.contact .contact__form textarea {
  height: 22rem;
  resize: none;
}

.contact .contact__form input::placeholder,
.contact .contact__form textarea::placeholder {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: 1.8rem;
}

/* PROPERTIES */

.propertiesSelection {
  padding: 7rem 0;
}

.propertiesSelection .propertiesSelection__wrapper h2 {
  font-size: var(--h2);
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
}

.propertiesSelection .propertiesSelection__item {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.propertiesSelection .propertiesSelection__item img {
  height: 35rem;
}

.propertiesSelection .propertiesSelection__item--info h3 {
  font-size: var(--h3);
  font-weight: bold;
}

.propertiesSelection .propertiesSelection__item--info p {
  margin: 3rem 0;
}

.propertiesSelection .propertiesSelection__item--info a {
  color: var(--clr-dark);
}

/* PROPERTIES RIVERSIDE */
.propertiesInfo {
  padding: 7rem 0;
}

.propertiesInfo .propertiesInfo__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10rem;
}

.propertiesInfo .propertiesInfo__details h2 {
  font-size: var(--h2);
  font-weight: bold;
  margin-bottom: 2rem;
}

.propertiesInfo .propertiesInfo__details img {
  width: 100%;
  margin-bottom: 3rem;
}

.propertiesInfo .propertiesInfo__details p {
  text-align: justify;
}

.propertiesInfo .propertiesInfo__post--form h4{
 font-size: var(--h4);
 font-weight: bold;
 margin-bottom: 1rem;
}

.propertiesInfo .propertiesInfo__post--form form {
  display: flex;
  gap: 2rem;
}

.propertiesInfo .propertiesInfo__post--form input{
  height: 5rem;
  width: 35rem;
}

.propertiesInfo .propertiesInfo__post--form small {
  font-size: 1.5rem;
}

.propertiesInfo h3 {
  font-size: var(--h3);
  font-weight: bold;
  margin-top: 7rem;
}

.propertiesInfo .propertiesInfo__post--popularPost {
  display: flex;
  gap: 2rem;
  margin: 3rem 0;
}

.propertiesInfo .propertiesInfo__post--popularPost h5 {
  font-size: var(--h5);
  font-weight: bold;
}

.propertiesInfo .propertiesInfo__post--popularPost p {
  margin: 1rem 0;
}
/* ----------------REPEATABLE PATTERNS------ */

.btn {
  display: inline-block;
  color: transparent;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1.3rem 2rem;
}

.btn.btn--primary {
  color: var(--clr-light);
  background-color: var(--clr-primary);
  transition: all 0.5s ease;
}

.btn.btn--primary:hover {
  color: var(--clr-primary);
  background-color: var(--clr-light);
  border: 1px solid var(--clr-primary);
  transition: all 0.5s ease;
}

.card {
  background-color: var(--clr-light);
}
.card img {
  width: 100%;
}

.card__text {
  padding: 1.5rem;
}

.card__text--title h3 {
  font-size: var(--h3);
  font-weight: bold;
}

.card__text--info {
  width: 100%;
  margin-top: 2rem;
}

.card__text--info tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card__text--info h4 {
  font-weight: bold;
}

.card__text--info tr:last-child {
  margin-top: 2rem;
}

.testimonial {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.testimonial .testimonial__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.testimonial .testimonial__text h2 {
  font-size: var(--h2);
  font-weight: bold;
  max-width: 40rem;
  margin: 2rem 0;
}

.testimonial .testimonial__text p {
  max-width: 52rem;
}

.testimonial .testimonial__text h3 {
  font-size: var(--h3);
  font-weight: bold;
  margin-top: 4rem;
}
